* {
    font-family: "Londrina Shadow", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    letter-spacing: 0.1em;
    color: #fff;
    font-weight: 900;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.3));
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    border-radius: 20px;
    padding: 20px 5px;
    width: 850px;

    border-radius: 0 0 20px 20px;
    background: rgba(60, 60, 60, 0.35);
    backdrop-filter: blur(150px);
    -webkit-backdrop-filter: blur(150px);

    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 2) 70%, rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 2) 70%, rgba(0, 0, 0, 0));

    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 2) 85%, rgba(0, 0, 0, 0)),
        linear-gradient(to right, rgba(0, 0, 0, 2) 70%, rgba(0, 0, 0, 0));
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;

    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 2) 85%, rgba(0, 0, 0, 0)),
        linear-gradient(to right, rgba(0, 0, 0, 2) 70%, rgba(0, 0, 0, 0));
}

.main-container > p {
    font-size: 3.7em;
    color: whitesmoke;
}

.scroller {
    max-width: 100%;
    font-size: 3.9em;
}

.scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

/* .scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg, transparent, black 20%, black 90%, transparent);
    mask: linear-gradient(90deg, transparent, black 20%, black 80%, transparent);
} */

.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear
        infinite;
}

.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
    --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
    --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
    --_animation-duration: 60s;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}

.tag-list {
    margin: 0;
    padding-inline: 0;
    list-style: none;
}

.tag-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 1rem 3.5rem;
    border-radius: 0.5rem;
}

.tag-list li img {
    border: 2px solid whitesmoke;
    border-radius: 50%;
    width: 70px;
}

.amount {
    color: #85bb65;
}
