* {
    font-family: "Londrina Shadow", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    letter-spacing: 0.1em;
    font-weight: 900;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.3));
}

.main-container {
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 250px;
    border-radius: 20px;
    width: 850px;
    font-size: 3.7em;
    gap: 15px;
    background: rgba(60, 60, 60, 0.45);
    backdrop-filter: blur(150px);
    -webkit-backdrop-filter: blur(150px);

    transform: translateX(100%);
    position: fixed;
    -webkit-animation: anim 3.5s 1;
    animation: anim 3.5s 1;

    visibility: hidden;
}

@-webkit-keyframes anim {
    0% {
        transform: translateX(100%);
    }

    14.28% {
        transform: translateX(0);
    }

    85.71% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes anim {
    0% {
        transform: translateX(100%);
    }

    14.28% {
        transform: translateX(0);
    }

    85.71% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

.follower {
    color: #85bb65;
}